.reload-button {
    width: 250px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.reload-button:hover {
    background-color: #45a049;
}


@media screen and (max-width: 600px) {
    .assignments-table th, .assignments-table td {
        padding: 6px;
    }
}
